<!--
      - #RESUME
    -->

<section class="no-padding" id="resume">
      <div class="container">   
            
      <h2 class="h2 article-title">Experience</h2>

     <div class="title">          
          <h3 class="h3">Education</h3>
     </div>

        <ol >

          <li>

            <h4>Bartłomiej Nowodworski High School </h4>

            <span>2020-2022</span>

            <p>
              Advanced level subjects: Mathematics, Geography, English
            </p>

          </li>

          <li>

            <h4>Liceum w Chmurze</h4>

            <span>2022-2024</span>

            <p>
              Advanced level subjects: Mathematics, Physics, Geography
            Final expected average: 5.47/6.0
            </p>

          </li>

          <li>
 class="h4 timeline-item-title">University of Groningen</h4>

            <span>2024 (expected start date)</span>

            <p>
              Full time Bachelor in Astronomy
            </p>

          </li>

        </ol>

      </section>

      <section>

        <div>
         

          <h3 class="h3">Experience</h3>
        </div>

        <ol>

          <li >

            <h4 >Get MAGIC mentoring program</h4>

            <span>01.2024-05.2023</span>

            <p>
              Mentoring for my personal project-  data analysis in Python, creating and sourcing data of binary stars/pulsars using Lightkurve library for Python, focusing on Kepler 47 system
                  Creating a personal website
            </p>

          </li>

          <li>

            <h4>Quantum computing course with Google Quantum AI</h4>

            <span>09.2023-04.2024, Qubit by Qubit & The Coding School</span>

            <p >
             Full scholarship for a two-semester quantum computing course,
                  Programming in Cirq
                  Fundamentals and Applications of Quantum Computing
                  Quantum algorithms and protocols, including implementing quantum key distribution (QKD) and Grover's algorithm, as well as running a Variational Quantum Eigensolver (VQE) to simulate a molecule
            </p>

          </li>

          <li>

            <h4 >Game Dev Summer Immersion Program</h4>

            <span>07.2023-08.2023, Girls who Code</span>

            <p>
              Led the successful development of four dynamic game projects using JavaScript, highlighting technical expertise and adaptability in a fast-paced learning environment.
                  Cultivated a collaborative and communicative team environment by actively engaging with fellow participants, contributing ideas, and collaboratively problem-solving to create captivating game mechanics that engaged players.
                  Advocated for diversity and inclusivity in the gaming industry by incorporating accessible design elements into each project, making the games enjoyable for a broader audience and promoting positive social impact through gaming.
            </p>

          </li>

            <li >

            <h4>Game Dev Summer Immersion Program</h4>

            <span>07.2023-08.2023, Girls who Code</span>

            <p>
              Led the successful development of four dynamic game projects using JavaScript, highlighting technical expertise and adaptability in a fast-paced learning environment.
                  Cultivated a collaborative and communicative team environment by actively engaging with fellow participants, contributing ideas, and collaboratively problem-solving to create captivating game mechanics that engaged players.
                  Advocated for diversity and inclusivity in the gaming industry by incorporating accessible design elements into each project, making the games enjoyable for a broader audience and promoting positive social impact through gaming.
            </p>

          </li>
            

        </ol>

      </section>
      <section class="timeline">
      
       <div class="title-wrapper">
      

          <h3 class="h3">Work experience</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Wordpress developer</h4>

            <span>09.2023-current</span>

            <p class="timeline-text">
              Adapted and modified consumer's website in Wordpress Maintenance and posting
Regular updates and management connected to social media
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Trainer on a robotics course for kids </h4>

            <span>09.2023, IT for SHE kids</span>

            <p class="timeline-text">
             
                 As a volunteer conducted a 2-days (12h) robotics class for primary school students with less opportunities from small towns
Activities using Scratch, Dash and Dot, LEGO Mindstorm and a workshop about cybersecurity
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">AuPair English teacher</h4>

            <span>05.2023</span>

            <p class="timeline-text">
             z
            </p>

          </li>
            

        </ol>

      </section>

      

      <section class="timeline">
       <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
          </div>

          <h3 class="h3">Others</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Open Eyes Economy & Economics University of Krakow</h4>

            <span>2021-2023</span>

            <p class="timeline-text">
              2021 & 2022 economics classes at Cracow University of Economy
              Oxford Debate at Open Eyes Economy Summit 2022- international Congress of the Economics of Values in Kraków
              subprogram of OEES for active youth - member of Information Section, podcast and journalism group
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Erasmus + </h4>

            <span>youth exchanges</span>

            <p class="timeline-text">
                   2022- Slovenia “Empowered recycling”, 2022- Slovenia “Sustainable Lifestyle”, 2022- Romania “EUREOEntrepeneur”, 2023- Armenia “Digital Storytelling”, 2024- Estonia "Youth Entrepreneurship"
            </p>

          </li>
            

        </ol>

      <section class="skill">

        <h3 class="h3 skills-title">My skills</h3>

        <ul class="skills-list content-card">

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">HTML, CSS, JavaScript, WordPress</h5>
      
            </div>
          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Python + Pandas, Matplotlib, Numpy, ScyPy, Cirq, Lightkurve</h5>
              
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Bash/Shell</h5>
             
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">GitHub, Gnuplot, Muniwin</h5>
             
            </div>


          </li>

        </ul>

      </section>
       </div>
 </section>
